body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: (51, 51, 51);
}

article {
    display: inline-block;
    width: 55%;
}


img {
    width: 70%;
} 

aside {
    display: inline-block;
    position: absolute;
}

a {
    color:blue;
}
